* {
    box-sizing: border-box;

}

body {
    margin: 0px;
    background-color: #f4f3ee;
}

header {
    color: #461220;
    font-family: 'Alkatra', cursive;

    padding: 10px;
    text-align: center;
}

.big {
    font-size: 40px;
}

.small {
    font-size: 20px;
    font-style: italic;
    font-weight: 0.5;
}

/*nav設定*/
nav {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 40px;
    padding: 5px;
    margin: 20px;
    background-color: #e0afa0;
    color: grey;
}

nav a {
    padding: 14px 16px;
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

nav a:hover {
    background-color: #fcb9b2;
    color: white;

}

main {
    padding: 20px;
}

article {
    float: left;
    width: 73%;
}


/*大標題*/
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    left: 25px;

}

.part {
    background-color: #fffaf4bf;
    border-radius: 30px;
    padding: 30px 45px 30px 45px;
    margin: 40px 10px;
}

/*內文*/
.contenttext {
    font-size: 18px;
    font-family: 微軟正黑體;
    line-height: 1.25;
    color: #5B5B5B;
}

.aboutme_text {
    position: relative;
    top: 40px;
    margin-bottom: 60px;
}

.clubtxt1 {
    position: relative;
    bottom: 1cm;

}

.clubtxt2 {
    position: relative;
    left: 12.5cm;
    top: 90px;
    width: 13cm;
}

.activitytext {
    position: relative;
    top: 20px;
    margin-bottom: 60px;
    left: 30px;
}


/*小標題*/
.subtitle {
    background-color: #fec89a;
    color: floralwhite;
    font-weight: bold;
    display: inline;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    width: 400px;
}

.subtitle_activity {
    position: relative;
    left: 30px;
    top: 40px;
}

/*標頭*/
@keyframes turnaround {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.turn-animation {
    transform-origin: 130px 130px;
    animation-timing-function: linear;
    animation-name: turnaround;
    animation-duration: 8s;
    animation-iteration-count: 1;
    position: relative;
    top: 25px;

}

.all {
    position: relative;
    height: 8cm;
}

.aboutmetxt1 {
    position: relative;
    left: 10cm;
    bottom: 7.5cm;
    width: 500px;
    height: 200px;
    background-color: #fffaf4bf;
    position: relative;

}

.back:hover {
    opacity: 1;
}

.name {
    color: #5e3023;
    font-size: 25px;
    font-weight: 500%;
}

.back {
    position: relative;
    width: 500px;
    height: 200px;
    background-color: #fffaf4;
    bottom: 12cm;
    left: 10cm;
    opacity: 0;
    line-height: 30px;
}

.file {
    color: #5B5B5B;
    font-family: 微軟正黑體;
}

/*skill設定*/
.skilltext {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*社團圖片設定*/
/*高一*/
.one {
    position: relative;
    height: 27cm;
}

.clubimg1_1 {
    position: relative;
    left: 14cm;
    top: -7cm;

}

.clubimg1_1 :hover {

    transition-duration: 0.5s;
    transition-timing-function: ease;
    transform: scale(1.25);
}

.txt1_1 {
    position: relative;
    left: 18cm;
    top: -7cm;
}

.clubimg1_2 {
    position: relative;
    top: -5cm;
    width: 450px;

}

.clubimg1_2 :hover {
    transform: scale(1.25);
    position: relative;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.txt1_2 {
    position: relative;
    left: 3cm;
    bottom: 5cm;
}

.clubimg1_3 {
    position: relative;
    top: 75px;
}

.clubimg1_3 :hover {
    transform: scale(1.25);
    position: relative;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.txt1_3 {
    position: relative;
    top: 2cm;
    left: 3cm;
}

.clubimg1_4 {
    position: relative;
    left: 14cm;
    bottom: 15cm;

}

.clubimg1_4 :hover {
    transform: scale(1.25);
    position: relative;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.txt1_4 {
    position: relative;
    bottom: 15cm;
    left: 18cm;
}

.sweetig {
    position: relative;
    bottom: 130px;
    color: #5B5B5B;
    text-decoration: none;
}

hr {
    position: relative;
    top: 1cm;
}

.subtitle_club1 {
    position: relative;

}

.subtitle_club2 {
    position: relative;
    left: 12.5cm;
    top: 75px;
}

/*高二*/
.try {
    display: flex;
    position: relative;
    height: 10cm;
}

/*自行發揮*/
@keyframes change-image {
    0% {
        background-image: url(picture/club2_1.jpg);
    }

    25% {
        background-image: url(picture/club2_4.jpg)
    }

    50% {
        background-image: url(picture/club2_5.jpg);
    }

    75% {
        background-image: url(picture/club2_6.jpg);
    }

    100% {
        background-image: url(picture/club2_7.jpg);
    }
}

.box {
    width: 400px;
    height: 280px;
    background-color: #FEFAE0;
    float: left;
    position: absolute;
    left: 10px;
    top: 90px;
    border-radius: 20px;
}

.box-animation {
    animation-name: change-image;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

/*活動圖片*/
.actimg {
    width: 300px;
    position: relative;
    top: 50px;
    padding: 10px;
    float: left;

}

.actimg :hover {
    transform: scale(1.25);
    transform: rotate(30deg);
    position: relative;
}

/*小圖片*/
.icon_school {
    width: 25px;
    position: relative;
    left: 3cm;
}

.click {
    width: 50px;
    position: relative;
    top: 230px;
    margin-left: -10px;
}




/*側邊設定*/
aside {
    float: right;
    width: 20%;
    margin-top: 50px;
    text-align: center;
    background-color: #eed7c5;
    border-radius: 10px;
}




/*其他*/
.clearfix {
    clear: both;
}



/*footer設定*/
footer {
    background-color: #cc8b86;
    padding: 20px;
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
}

.icon {
    width: 50px;
    height: 50px;

}

/*按鈕*/
.up {
    position: fixed;
    bottom: 70px;
    right: 20px;
    background-color: #cc8b86;
    border-radius: 50px;
    padding: 10px;
}

.down {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffcad4;
    border-radius: 50px;
    padding: 10px;
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
}


.allschool {
    display: flex;
    position: relative;
}

.js {
    margin: 20px;
    padding: 10px;
    text-align: center;

}

.js {
    transition: translateX 0.5s;
}

.js:hover {
    transform: translateX(-10px);
}

@keyframes up-and-down {
    0% {
        transform: rotateY(-35deg);
    }

    12.5% {
        transform: rotateY(-70deg);
    }

    25% {
        transform: rotateY(-35deg);
    }

    37.5% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(35deg);
    }

    62.5% {
        transform: rotateY(70deg);
    }

    75% {
        transform: rotateY(35deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

.move {
    animation-timing-function: linear;
    animation-name: up-and-down;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    position: relative;
    top: 25px;

}